#This is my default git alias,you can copy lines after into you .git/config file 
[alias]
	p2g = push fangliang master 
	pfg = pull fangliang master 

	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ci = commit -m
	co = checkout
	br = branch
	st = status
